<ion-content class="auth-form">
	<ion-grid class="bg-test">
		<ion-row>
			<img class="welcome-img" src="../../assets/images/logo-descubrir.png" alt="" />
			<ion-col class="buttons-welcome">
				<ion-button
					[routerLink]="['/register']"
					expand="block"
					class="login-buttons"
					style="margin-bottom: 10px"
				>
					Registrate
				</ion-button>
				<span class="already" style="font-size: 10px; font-weight: bold">
					¿Ya eres usuario?
				</span>

				<ion-button
					[routerLink]="['/login']"
					expand="block"
					color="favorite"
					class="login-buttons"
					style="height: 40px"
				>
					Inicia Sesión
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
