<ion-content>
	<div>
		<ion-grid>
			<ion-row style="margin-top: 20px; margin-bottom: 20px; text-align: center">
				<ion-col style="color: cornflowerblue; font-weight: bold; font-size: 12px">
					Transportista <br />
					{{ userEmail }}</ion-col
				>
			</ion-row>
			<ion-button
				type="submit"
				color="light"
				expand="block"
				(click)="publicar()"
				style="margin-bottom: 10px"
			>
				<ion-icon name="clipboard" style="margin-right: 5px"></ion-icon>
				Publicar
			</ion-button>
			<ion-button
				type="submit"
				color="light"
				expand="block"
				(click)="notificaciones()"
				style="margin-bottom: 10px"
			>
				<ion-icon name="mail-unread" style="margin-right: 5px"></ion-icon>
				Notificaciones
			</ion-button>
			<ion-button
				type="submit"
				color="favorite"
				expand="block"
				(click)="signOut()"
				style="margin-bottom: 10px"
			>
				Cerrar Sesión
			</ion-button>
		</ion-grid>
	</div>
</ion-content>
