<ion-header [translucent]="true">
	<ion-toolbar style="padding-top: 10px">
		<ion-title>{{ folder }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="openPopover($event)">
				<ion-icon name="paper-plane"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div *ngIf="folder === 'Comunicados'">
		<ion-item>
			<ion-label>Rutas</ion-label>
			<ion-select
				value="notifications"
				interface="action-sheet"
				(ionChange)="optionsFn($event);"
			>
				<ion-select-option value="{{option.ruta_id}}" *ngFor="let option of responseRutas"
					>{{option.titulo_ruta}}, Ruta {{option.numero_ruta}}</ion-select-option
				>
			</ion-select>
		</ion-item>
		<div
			style="
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
			"
		>
			<ion-icon name="refresh-circle" class="update-button" (click)="getComunicados()"
				>refresh-circle</ion-icon
			>
		</div>
		<div class="cardContainer">
			<div *ngIf="responseComunicados?.length === 0" style="margin-top: 7rem">
				<span style="font-weight: bold">Seleccione una ruta</span>
			</div>
			<div class="card" *ngFor="let post of responseComunicados">
				<div style="border-bottom: 1px solid lightgrey; padding-bottom: 5px">
					<span
						style="font-weight: bold; color: red"
						*ngIf="post.rol === 'transportista' "
						>Transportista</span
					>
					<br />
					<span style="font-weight: bold; color: cornflowerblue"
						>{{post.comunicado_asunto}}</span
					>

					<br />
					<span style="font-size: 12px">{{post.comunicado_titulo}}</span>
				</div>
				<span style="margin-top: 5px; font-size: 10px">{{post.comunicado_mensaje}}</span>
				<br />
				<br />
				<span style="font-size: 10px; margin-bottom: 3px"
					>{{post.nombres_emisor}} {{post.apellidos_emisor}}</span
				>
				<span style="font-size: 10px; color: #7ed957">{{post.comunicado_fecha}}</span>
			</div>
		</div>
	</div>
	<div *ngIf="folder === 'Publicar'">
		<form class="form" [formGroup]="postForm2" (ngSubmit)="publishPost(postForm2.value)">
			<ion-item>
				<ion-label position="floating">Título</ion-label>
				<ion-input type="text" formControlName="title"></ion-input>
			</ion-item>

			<ng-container *ngFor="let error of errorMsgDesc.title">
				<div
					style="color: red"
					*ngIf="postForm2.get('title').hasError(error.type) && (postForm2.get('title').dirty || postForm2.get('title').touched)"
				>
					{{ error.message }}
				</div>
			</ng-container>

			<ion-item>
				<ion-label>Asuntos</ion-label>
				<ion-select value="notifications" interface="action-sheet" formControlName="select">
					<ion-select-option value="{{option}}" *ngFor="let option of temaOptions"
						>{{option}}</ion-select-option
					>
				</ion-select>
			</ion-item>

			<ng-container *ngFor="let error of errorMsgDesc.select">
				<div
					style="color: red"
					*ngIf="postForm2.get('select').hasError(error.type) && (postForm2.get('select').dirty || postForm2.get('select').touched)"
				>
					{{ error.message }}
				</div>
			</ng-container>

			<ion-item>
				<ion-label>Rutas</ion-label>
				<ion-select
					value="notifications"
					interface="action-sheet"
					(ionChange)="postChange($event);"
				>
					<ion-select-option
						value="{{option.ruta_id}}"
						*ngFor="let option of responseRutas"
						>{{option.titulo_ruta}}, Ruta {{option.numero_ruta}}</ion-select-option
					>
				</ion-select>
			</ion-item>

			<ng-container *ngIf="error">
				<div style="color: red">Ruta requerida para publicar</div>
			</ng-container>
			<ion-item>
				<ion-label position="floating">Mensaje</ion-label>
				<ion-input type="text" formControlName="desc"></ion-input>
			</ion-item>

			<ng-container *ngFor="let error of errorMsgDesc.desc">
				<div
					style="color: red"
					*ngIf="postForm2.get('desc').hasError(error.type) && (postForm2.get('desc').dirty || postForm2.get('desc').touched)"
				>
					{{ error.message }}
				</div>
			</ng-container>

			<ion-button type="submit" expand="block" [disabled]="!postForm2.valid">
				Crear publicación
			</ion-button>

			<label class="ion-text-center" color="danger">{{errorMsg}}</label>
		</form>
	</div>
</ion-content>
