ion-menu-button,
ion-icon {
	color: var(--ion-color-primary);
}

.cardContainer {
	display: grid;
	place-items: center;
	margin: 40px 0px;
}

.card {
	width: 80%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	background-color: white;
	border: 1px solid lightgray;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.24), 0 10px 20px rgba(0, 0, 0, 0.36);
	margin-bottom: 60px;
}
